In [3]:
import os
import pandas as pd

In [4]:
cwd = os.getcwd() # dirname(abspath(__file__))
print (cwd)
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

/Users/lb/Dev/30-days-of-python/day17-Data science pipeline with jupyter, pandas & fastapi/notebooks

In [5]:
os.listdir(DATA_DIR)

['2020.csv', '2021.csv', '2022.csv']

In [10]:
my_items = [{"category": "Action", "title": "My awesome movie"}, {"category": "Comedy", "title": "Data Jokes are us"}]
df = pd.DataFrame(my_items)

In [11]:
df.head()

  category              title
0   Action   My awesome movie
1   Comedy  Data Jokes are us

In [13]:
df['category']

0    Action
1    Comedy
Name: category, dtype: object

In [14]:
df['title']

0     My awesome movie
1    Data Jokes are us
Name: title, dtype: object

In [15]:
df.iloc[0]

category              Action
title       My awesome movie
Name: 0, dtype: object

In [16]:
df.iloc[1]

category               Comedy
title       Data Jokes are us
Name: 1, dtype: object

In [6]:
my_data = os.path.join(DATA_DIR, '2020.csv')
print(os.path.exists(my_data))

True

In [25]:
df2 = pd.read_csv(my_data) #

In [26]:
df2.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Eight Hundred,"$461,421,559","$372,755",<0.1%,"$461,048,804",99.9%
1,2,Demon Slayer: Mugen Train,"$454,779,627","$49,505,008",10.9%,"$405,274,619",89.1%
2,3,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%
3,4,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%
4,5,Tenet,"$363,656,624","$58,456,624",16.1%,"$305,200,000",83.9%
5,6,Sonic the Hedgehog,"$319,715,683","$148,974,665",46.6%,"$170,741,018",53.4%
6,7,Dolittle,"$245,438,444","$77,047,065",31.4%,"$168,391,379",68.6%
7,8,Legend of Deification,"$240,663,149","$214,670",<0.1%,"$240,448,479",99.9%
8,9,A Little Red Flower,"$216,000,000",-,-,"$216,000,000",100%
9,10,The Croods 2: A New Age,"$215,905,815","$58,568,815",27.1%,"$157,337,000",72.9%

In [27]:
df2.tail(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
190,191,Made in Abyss: Dawn of the Deep Soul,"$4,971,635",-,-,"$4,971,635",100%
191,192,Godai - The Wunderkind,"$4,948,225",-,-,"$4,948,225",100%
192,193,Military Wives,"$4,889,252",-,-,"$4,889,252",100%
193,194,Panga,"$4,886,124","$582,720",11.9%,"$4,303,404",88.1%
194,195,The Tales for Old and Young,"$4,853,143",-,-,"$4,853,143",100%
195,196,Streltsov,"$4,850,073",-,-,"$4,850,073",100%
196,197,The SpongeBob Movie: Sponge on the Run,"$4,810,790","$4,810,790",100%,-,-
197,198,The Empty Man,"$4,796,993","$2,992,948",62.4%,"$1,804,045",37.6%
198,199,The Vets,"$4,788,826",-,-,"$4,788,826",100%
199,200,The Broken Hearts Gallery,"$4,781,389","$4,067,442",85.1%,"$713,947",14.9%